html, body {
    margin: 0;
    padding: 0;

}

.navbar {
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color: green;
}

.about {
    position: relative;
    left: 315px;
}

.menu {
    position: relative;
    left:150px;
}