.head-line {
    color: darkgreen;
    text-align: center;
    font-family: Georgia;
    
}
.subhead {
    font-family: Georgia;
    text-align: center;
}
.pic {
    float: left;
    padding: 10px;
}
.body1 {
    line-height: 25px;
}
.body2 {
    line-height: 25px;
}
.body3 {
    line-height: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}