.flex-container {
    display: center;
    grid-gap: 10px;
}
.sidebar {
    background-color: white;
    border-radius:  20px;
}
.footer {
    text-align: center;
    font-family: "Fredoka One";
    color: blue;
    letter-spacing: 6px;
    font-size: 5vw;
    text-shadow: 5px 5px gray;
}
p {
    text-align: center;
    font-family: "Fredoka One";
    color: red;
    letter-spacing: 6px;
    font-size: 100px;
    text-shadow: 5px 5px black;
}
a {
    color: white;
    font-size: 4vw;
}
table, th, td {
    border:3px solid blue;
    background-color: solid gray;
    color: white;
    text-align: center;
}
li {
    text-align: center;
    color: orange;
    font-size: 5vw;
}
img {
    width: 100%;
    height: auto;
}

/* For mobile phones: */
[class*="flex-container"] {
    width:  100%;
}