.header {
    font-size: 20px;
    font-family: "Fredoka One";
    text-align: center;
    color: yellow;
}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: Green;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container > div:hover {
    width: 100px;
    background-color: cornflowerblue;
}
.sidebar1 {
    background-color: white;
    border-radius:  20px;
    letter-spacing: 10px;
    justify-content: space-evenly;
}
.footer {
    text-align: center;
    font-family: "Fredoka One";
    color: blue;
    letter-spacing: 6px;
    font-size: 3vw;
    text-shadow: 5px 5px gray;
}
p {
    text-align: center;
    font-family: "Fredoka One";
    color: orangered;
    letter-spacing: 6px;
    font-size: 20px;
    text-shadow: 3px 3px black;
}
a {
    color: white;
    font-size: 5vw;
    text-align: center;
}
.grid-container {
    display: grid;
    height: 300px;
    align-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    background-color: none;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: gray;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: red;
  }
.grid-container > div:hover {
    width: 100px;
    background-color: yellow;
}
h1 {
    color: orange;
    text-align: center;
    text-underline-position: under;
    font-size: 6vw;
}
li {
    text-align: center;
    color: pink;
    font-size: 6vw;
}
img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* For mobile phones: */
[class*="flex-container"] {
    width:  100%;
}
@media only screen and (min-width: 600px) {
    /*For Tablets:*/
    .header {
        font-size: 50px;
    }
}
@media only screen and (min-width: 768px) {
    /* For Desktop: */
    .header {
        font-size: 80px;
    }
}